
body {
    font-family: sans-serif;
    padding: 1em;
}

h1 {
    margin-bottom: 1.5em;
}

.fett {
    font-weight: bold;
}

a {
    margin-bottom: 1em;
}

ul li {
    margin-bottom: 20px;
}

input[ type="text" ] {
    width: 100%;
}
@media ( min-width: 800px ) {
    input[ type="text" ] {
        width: 50%;
    }
}
